<?xml version="1.0"?>
<!--
  ~ Copyright © mageOn, 2019.
  ~ https://github.com/mageonius
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CatalogImportExport\Model\Import\Product\Validator"
                type="Mageon\AdvancedCatalogImport\Model\Import\Product\Validator"/>

    <type name="Magento\CatalogImportExport\Model\Import\Product\Type\AbstractType">
        <plugin name="MageonAdvancedCatalogImportAbstractTypePlugin"
                type="Mageon\AdvancedCatalogImport\Plugin\CatalogImportExport\Model\Import\Product\Type\AbstractTypePlugin"/>
    </type>

    <type name="Magento\ImportExport\Block\Adminhtml\Import\Edit\Form">
        <plugin name="MageonAdvancedCatalogImportFormPlugin"
                type="Mageon\AdvancedCatalogImport\Plugin\ImportExport\Block\Adminhtml\Import\Edit\FormPlugin"/>
    </type>
</config>
