<?xml version="1.0"?>
<!--
  ~ Copyright © mageOn, 2019.
  ~ https://github.com/mageonius
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mageon" translate="label" sortOrder="400">
            <label>mageOn extensions</label>
        </tab>
        <section id="mageon_advanced_catalog_import" translate="label" type="text" sortOrder="100" showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Advanced Catalog Import</label>
            <tab>mageon</tab>
            <resource>Mageon_AdvancedCatalogImport::config</resource>
            <group id="general" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General</label>
                <field id="is_enabled" translate="label comment" type="select" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>